<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/all.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <header>
                    <div class="logo w-25">
                        <svg style="color: white;" viewBox="0 0 24 24" aria-hidden="true"
                            class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-lrsllp r-1nao33i r-16y2uox r-8kz0gk">
                            <g>
                                <path
                                    d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z">
                                </path>
                            </g>
                        </svg>
                    </div>
                    <nav>
                        <ul class="white_color" type="none">
                            <li>
                                <a href="#"><i class="fa-solid fa-house"></i> Home</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-solid fa-magnifying-glass"></i> Search</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-regular fa-bell"></i> Notification</a>
                            </li>
                        </ul>
                    </nav>
                </header>
            </div>
        </div>
    </div>

    <script src="/public/js/jquery-3.7.0.min.js"></script>
    <script src="/public/js/bootstrap.bundle.min.js"></script>
</body>

</html>