<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/all.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <header>
                    <div class=" w-25 py-2">
                        <div class="logo d-inline-block">
                            <svg style="color: #e7e9ea;" viewBox="0 0 24 24" aria-hidden="true"
                                class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-lrsllp r-1nao33i r-16y2uox r-8kz0gk">
                                <g>
                                    <path
                                        d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z">
                                    </path>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <nav>
                        <ul class="text_color f_20_28_600 p-0" type="none">
                            <li class="py-3">
                                <a href="#"><i class=" fa-solid fa-house"></i> Home</a>
                            </li>
                            <li class="py-3">
                                <a href="#"><i class=" fa-solid fa-magnifying-glass"></i> Search</a>
                            </li>
                            <li class="py-3">
                                <a href="#"><i class=" fa-regular fa-bell"></i> Notification</a>
                            </li>
                            <li class="py-3">
                                <a href="#"><i class="fa-regular fa-envelope"></i> Message</a>
                            </li>
                            <li class="py-3">
                                <a href="#"><i class="fa-regular fa-file-lines"></i> Lists</a>
                            </li>
                            <li class="py-3">
                                <a href="#"><i class="fa-brands fa-x-twitter"></i> Premium</a>
                            </li>
                            <li class="py-3">
                                <a href="#"><i class="fa-regular fa-user"></i> Profile</a>
                            </li>
                            <li class="py-3">
                                <a href="#"><i class="fa-regular fa-circle-question"></i> More</a>
                            </li>
                            <li class="py-3">
                                <a href="#"><%= user.email %></a>
                            </li>
                            <li class="py-3">
                                <a href="/logout">logout</a>
                            </li>
                        </ul>
                    </nav>
                </header>
            </div>
            <div class="col-lg-5">
                <div class="all_random_post">
                    <div class="post_section_header">
                        <div class="f_15_18_500 d-flex py-3 text-center white_color">
                            <div class="col-lg-5"><span class="post_section_header_active py-3 position-relative">For you</span></div>
                            <div class="col-lg-5"><span class="py-3 position-relative">Following</span></div>
                            <div class="col-lg-2"><span class="py-3 position-relative"><i class="fa-solid fa-gear"></i></span></div>
                        </div>
                    </div>
                    <div class="upload_post">
                        <div class="d-flex p-3">
                            <div class="col-lg-1">
                                <div class="py-2">
                                    <img src="/public/img/user.jpeg" alt="" class="img-fluid" style="border-radius: 50px;">
                                </div>
                            </div>
                            <div class="col-lg-11 ps-3">
                                <div class="pt-3 pb-3" style="border-bottom: 1px solid;">
                                    <input type="text" name="post_content" class="post_content f_20_28_600" placeholder="What is happening?!">
                                    <span id="selectedImagesContainer" style="width: 60px; height: 60px;"></span>
                                    <span class="d-block pt-3 blue_color">Everyone can reply</span>
                                </div>
                                <div class="p-2">
                                    <label for="post_imgs" class="blue_color post_imgs_label"><i class="fa-regular fa-image"></i></label>
                                    <input type="file" accept="image/*" name="post_imgs" id="post_imgs" class="d-none" multiple>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/public/js/jquery-3.7.0.min.js"></script>
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script>
        document.getElementById('post_imgs').addEventListener('change', handleFileSelect);
    
        function handleFileSelect(event) {
            const selectedImagesContainer = document.getElementById('selectedImagesContainer');
            selectedImagesContainer.innerHTML = ''; // Clear previous selections
    
            const files = event.target.files;
            const maxFiles = 4; // Set your maximum number of files
    
            for (let i = 0; i < Math.min(files.length, maxFiles); i++) {
                const file = files[i];
                const imageElement = document.createElement('img');
                imageElement.src = URL.createObjectURL(file);
                imageElement.style.width = '100%';
                imageElement.style.height = 'auto';
                imageElement.style.marginBottom = '5px';
                selectedImagesContainer.appendChild(imageElement);
            }
        }
    </script>
</body>

</html>